.container,
.title_wrapper,
.buttons_container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.light_theme {
    --confirm-toast-bg: white;
    --confirm-toast-msg-color: black;
    --confirm-toast-icon-color: crimson;
    --confirm-toast-btn-yes-color: seagreen;
    --confirm-toast-btn-no-color: red;
    --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-hover: 0.9;
}

.dark_theme {
    --confirm-toast-bg: #232323;
    --confirm-toast-msg-color: white;
    --confirm-toast-icon-color: crimson;
    --confirm-toast-btn-yes-color: seagreen;
    --confirm-toast-btn-no-color: red;
    --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-hover: 1.4;
}

.snow_theme {
    --confirm-toast-bg: #EAF1FD;
    --confirm-toast-msg-color: #5077BE;
    --confirm-toast-icon-color: #3C598E;
    --confirm-toast-btn-yes-color: #233453;
    --confirm-toast-btn-no-color: #233453;
    --confirm-toast-btn-yes-bg: #D1DFFA;
    --confirm-toast-btn-no-bg: #D1DFFA;
    --confirm-toast-btn-hover: 1.15;
}

.lilac_theme {
    --confirm-toast-bg: #F5EBFA;
    --confirm-toast-msg-color: black;
    --confirm-toast-icon-color: #AD5BD6;
    --confirm-toast-btn-yes-color: #9E3CCF;
    --confirm-toast-btn-no-color: #9E3CCF;
    --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
    --confirm-toast-btn-hover: 1.05;
}


.container {
    position: fixed;
    background-color: var(--confirm-toast-bg);
    padding: 1.2rem;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    user-select: none;
}

.title_wrapper {
    gap: 0.9rem;
}

.title {
    color: var(--confirm-toast-msg-color);
    font-weight: bold;
}

.close {
    color: var(--confirm-toast-icon-color);

    font-size: 1.6rem;
    stroke-width: 2px;

    @media (hover: hover) {
        &:hover {
            filter: brightness(1.3);
        }
    }
}

.buttons_container {
    gap: 0.6rem;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.6rem;
    border: none;
    border-radius: 0.4rem;

    &.button_yes {
        color: var(--confirm-toast-btn-yes-color);
        background-color: var(--confirm-toast-btn-yes-bg); //with this, we can use hover with filter
    }

    &.button_no {
        color: var(--confirm-toast-btn-no-color);
        background-color: var(--confirm-toast-btn-no-bg); //with this, we can use hover with filter
    }

    @media (hover: hover) {
        &:hover {
            filter: brightness(var(--confirm-toast-btn-hover));
        }
    }
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    animation: toast-in-left .7s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    animation: toast-in-right .7s;
}

.top-left {
    top: 12px;
    left: 12px;
    animation: toast-in-left .7s;
}

.top-right {
    top: 12px;
    right: 12px;
    animation: toast-in-right .7s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    transition: transform .3s;
    z-index: 9;
}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    animation: toast-in-modal .7s;
}


@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-modal {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(100%)
    }
}