.dialog {
  display: block;
  padding: 0;
  inset: 0;
  border: none;
  transition: opacity 0.5s;
  border-radius: 8px;
  contain: paint;
  box-shadow: 0 0 10px 2px #4343434c;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background: #0000005b;
}

@media (prefers-reduced-motion: no-preference) {
  .dialog {
    --ease-3: cubic-bezier(0.25, 0, 0.3, 1);

    animation: scale-down 0.5s var(--ease-3) forwards;
    animation-timing-function: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  }

  .dialog[open] {
    animation: slide-in-up 0.5s var(--ease-3) forwards;
  }
}

.container,
.title-container,
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: system-ui;
  flex-direction: column;
  background-color: var(--confirm-toast-bg);
  padding: 1rem;
  gap: 1rem;
}

.title-container {
  gap: 0.9rem;
}

.title {
  color: var(--confirm-toast-msg-color);
  font-weight: bold;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  padding: 0;
}

@media (hover: hover) {
  .close-button:focus {
    border-radius: 4px;
    outline: 2px solid black;
  }
}

.close-svg {
  color: var(--confirm-toast-icon-color);
  vertical-align: middle;

  @media (hover: hover) {
    &:hover {
      filter: brightness(1.3);
    }
  }
}

.buttons-container {
  gap: 0.6rem;
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.6rem;
  border: none;
  border-radius: 0.4rem;

  &.button--yes {
    color: var(--confirm-toast-btn-yes-color);
    background-color: var(--confirm-toast-btn-yes-bg);
  }

  &.button--no {
    color: var(--confirm-toast-btn-no-color);
    background-color: var(--confirm-toast-btn-no-bg);
  }

  @media (hover: hover) {
    &:hover {
      filter: brightness(var(--confirm-toast-btn-hover));
    }
  }
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: fixed;
  margin: unset;
  inset-inline-start: unset;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  animation: toast-in-left 0.7s;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  animation: toast-in-right 0.7s;
}

.top-right {
  top: 12px;
  right: 12px;
  animation: toast-in-right 0.7s;
}

.top-left {
  top: 12px;
  left: 12px;
  animation: toast-in-left 0.7s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}

.light {
  --confirm-toast-bg: white;
  --confirm-toast-msg-color: black;
  --confirm-toast-icon-color: crimson;
  --confirm-toast-btn-yes-color: seagreen;
  --confirm-toast-btn-no-color: red;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: 0.9;
}

.dark {
  --confirm-toast-bg: #232323;
  --confirm-toast-msg-color: white;
  --confirm-toast-icon-color: crimson;
  --confirm-toast-btn-yes-color: seagreen;
  --confirm-toast-btn-no-color: red;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: 1.4;
}

.snow {
  --confirm-toast-bg: #eaf1fd;
  --confirm-toast-msg-color: #5077be;
  --confirm-toast-icon-color: #3c598e;
  --confirm-toast-btn-yes-color: #233453;
  --confirm-toast-btn-no-color: #233453;
  --confirm-toast-btn-yes-bg: #d1dffa;
  --confirm-toast-btn-no-bg: #d1dffa;
  --confirm-toast-btn-hover: 1.15;
}

.lilac {
  --confirm-toast-bg: #f5ebfa;
  --confirm-toast-msg-color: black;
  --confirm-toast-icon-color: #ad5bd6;
  --confirm-toast-btn-yes-color: #9e3ccf;
  --confirm-toast-btn-no-color: #9e3ccf;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: 1.05;
}
