.dialog {
  --ease: cubic-bezier(0.25, 0, 0.3, 1);

  padding: 0;
  border: none;
  transition: opacity 0.5s;
  border-radius: 8px;
  contain: paint;
  box-shadow: var(--confirm-toast-box-shadow);
}

.dialog--modal {
  display: block;
  inset: 0;
}

.dialog--modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog--modal::backdrop {
  background: #0000005b;
}

@media (prefers-reduced-motion: no-preference) {
  .dialog--modal {
    animation: scale-down 0.5s var(--ease);
  }

  .dialog--modal[open] {
    animation: slide-in-up 0.5s var(--ease);
  }
}

.container,
.title-container,
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: system-ui;
  flex-direction: column;
  background-color: var(--confirm-toast-bg);
  padding: 1rem;
  gap: 1rem;
}

.title-container {
  gap: 0.9rem;
}

.title {
  color: var(--confirm-toast-text-color);
  font-weight: bold;
  margin: 0;
}

.button-close {
  background: none;
  border: none;
  padding: 0;
  border-radius: 4px;

  @media (hover: hover) {
    &:focus {
      outline: var(--confirm-toast-btn-close-focus);
    }
  }
}

.close-svg {
  color: var(--confirm-toast-icon-color);
  vertical-align: middle;

  @media (hover: hover) {
    &:hover {
      filter: brightness(1.3);
    }
  }
}

.buttons-container {
  gap: 0.6rem;
}

.button {
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  border: none;
  border-radius: 6px;

  @media (hover: hover) {
    &:hover {
      filter: var(--confirm-toast-btn-hover);
    }
  }
}

.button--yes {
  color: var(--confirm-toast-btn-yes-color);
  background-color: var(--confirm-toast-btn-yes-bg);

  @media (hover: hover) {
    &:focus {
      outline: var(--confirm-toast-btn-yes-focus);
    }
  }
}

.button--no {
  color: var(--confirm-toast-btn-no-color);
  background-color: var(--confirm-toast-btn-no-bg);

  @media (hover: hover) {
    &:focus {
      outline: var(--confirm-toast-btn-no-focus);
    }
  }
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  position: fixed;
  margin: unset;
  inset: auto;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
}

.top-right {
  top: 12px;
  right: 12px;
}

.top-left {
  top: 12px;
  left: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .bottom-left {
    animation: toast-in-left 0.7s;
  }

  .bottom-right {
    animation: toast-in-right 0.7s;
  }

  .top-right {
    animation: toast-in-right 0.7s;
  }

  .top-left {
    animation: toast-in-left 0.7s;
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}

.light {
  --confirm-toast-box-shadow: 0 0 10px 2px #4343434c;
  --confirm-toast-bg: white;
  --confirm-toast-text-color: black;
  --confirm-toast-icon-color: crimson;
  --confirm-toast-btn-yes-color: seagreen;
  --confirm-toast-btn-no-color: red;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: brightness(0.9);
  --confirm-toast-btn-yes-focus: 2px solid black;
  --confirm-toast-btn-no-focus: 2px solid black;
  --confirm-toast-btn-close-focus: 2px solid black;
}

.dark {
  --confirm-toast-box-shadow: 0 0 10px 2px #4343434c;
  --confirm-toast-bg: #232323;
  --confirm-toast-text-color: white;
  --confirm-toast-icon-color: crimson;
  --confirm-toast-btn-yes-color: seagreen;
  --confirm-toast-btn-no-color: red;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: brightness(1.4);
  --confirm-toast-btn-yes-focus: 2px solid #bbb;
  --confirm-toast-btn-no-focus: 2px solid #bbb;
  --confirm-toast-btn-close-focus: 2px solid #bbb;
}

.snow {
  --confirm-toast-box-shadow: 0 0 10px 2px #4343434c;
  --confirm-toast-bg: #eaf1fd;
  --confirm-toast-text-color: #5077be;
  --confirm-toast-icon-color: #3c598e;
  --confirm-toast-btn-yes-color: #233453;
  --confirm-toast-btn-no-color: #233453;
  --confirm-toast-btn-yes-bg: #d1dffa;
  --confirm-toast-btn-no-bg: #d1dffa;
  --confirm-toast-btn-hover: brightness(1.15);
  --confirm-toast-btn-yes-focus: 2px solid black;
  --confirm-toast-btn-no-focus: 2px solid black;
  --confirm-toast-btn-close-focus: 2px solid black;
}

.lilac {
  --confirm-toast-box-shadow: 0 0 10px 2px #4343434c;
  --confirm-toast-bg: #f5ebfa;
  --confirm-toast-text-color: black;
  --confirm-toast-icon-color: #ad5bd6;
  --confirm-toast-btn-yes-color: #9e3ccf;
  --confirm-toast-btn-no-color: #9e3ccf;
  --confirm-toast-btn-yes-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-no-bg: var(--confirm-toast-bg);
  --confirm-toast-btn-hover: brightness(1.05);
  --confirm-toast-btn-yes-focus: 2px solid black;
  --confirm-toast-btn-no-focus: 2px solid black;
  --confirm-toast-btn-close-focus: 2px solid black;
}
