.custom-confirm-toast-theme {
  --confirm-toast-box-shadow: 0 0 1px 4px purple;
  --confirm-toast-bg: aquamarine;
  --confirm-toast-msg-color: purple;
  --confirm-toast-icon-color: black;
  --confirm-toast-btn-yes-color: lightgreen;
  --confirm-toast-btn-no-color: black;
  --confirm-toast-btn-yes-bg: green;
  --confirm-toast-btn-no-bg: yellow;
  --confirm-toast-btn-hover: 0.9;
}
